<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hk.web">
  	
  	<select id="getScore" parameterType="String" resultType="Integer">
  		SELECT ac_score FROM ac_comment WHERE ac_name = #{subTitle}
  	</select>
  
  </mapper>